# Core dependencies
torch
torchvision
torchaudio
torch-geometric
pytorch-lightning
lightning
hydra-core
hydra-submitit-launcher
hydra-optuna-sweeper
optuna
optuna-dashboard
omegaconf

# RL & Environments
gymnasium[atari, accept-rom-license]
stable-baselines3
ocatari
hackatari @ git+https://github.com/k4ntz/HackAtari.git

# Logic & Symbolic
lark
igraph
captum
rtpt
-r src/usr/models/fyd_repo/requirements.txt

# Utilities & Data
kneed
numpy
pandas
matplotlib
seaborn
scipy
scikit-learn
scikit-image
networkx
tqdm
joblib
pillow
tabulate
lz4
tyro
pyyaml
tensorboard
wandb

# Video & Visualization
pygame
vidmaker
opencv-python
