tyro
pygame
vidmaker
opencv-python>=4.5.5.64
stable-baselines3
captum
ocatari @ git+https://github.com/PRL-mbeane/OCAtari.git
hackatari @ git+https://github.com/k4ntz/HackAtari.git
pyyaml
tensorboard
rtpt
wandb
gymnasium[atari, accept-rom-license]
torch>=2.4.0
dataclasses